<ion-header>
  <ion-navbar color="primary">
      <ion-buttons left>
          <button ion-button icon-only><ion-icon name="menu" color="light"></ion-icon></button>
      </ion-buttons>
    <ion-title text-center>
      P-SQUARE
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-center>
  <div class="banner">
    <div class="container">
      <h2>
        Welcome To
      </h2>
      <h3>
        P-SQUARE <span>STORE </span>
      </h3>
    </div>
  </div>
  <!-- <p>Is listening ? : {{ isListening }}</p> -->
  <ion-card class="custome-card" [ngClass]="{'custome-card-animate': isListening}">
    <ion-card-content>
      <button (click)="listen()" ion-button icon-only clear>
        <div>
          <ion-icon name="mic" color>
          </ion-icon>
        </div>
      </button>
    </ion-card-content>
  </ion-card>

  <!-- // *ngFor="let match of matches -->
  <ion-card *ngIf="singleMatch" (click)="goToProducts()">
    <ion-card-content>
      <p>{{singleMatch}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>